body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.react-bpmn-diagram-container {
  height: 23rem;
  padding: 0.5rem;
  margin: 5rem;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  padding: 20px 0;
}
